h2 {
  color: black;
  margin-top: 5%;
}

p {
  color: black;
}

.image {
  width: 50%;
}

.sub-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.about {
  background-color: #5e1914;
}
.about p {
  color: white;
}
