h1 {
  color: white;
  padding-top: 15px;
}

h2 {
  color: black;
  margin-top: 5%;
}

p {
  color: black;
}

.image {
  width: 50%;
}

.aboutus {
  background-color: #5e1914;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.aboutus p {
  color: white;
}

.aboutus p a:hover {
  text-decoration: underline;
  font-size: 1em;
  padding-top: 15px;
  padding: 25px 50px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

footer p {
  color: white;
}

footer {
  margin-top: 40px;
}
