.container {
  display: grid;
  grid-template-columns: 400px 400px;
}

.main {
  margin-top: 100px;
  letter-spacing: 15px;
  font-size: 80px;
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1;
  text-align: center;
}

.subtitle {
  font-size: 40px;
  color: maroon;
  margin-top: 300px;
  letter-spacing: 4px;
  grid-column: 2/3;
  grid-row: 2/4;
  text-align: center;
  z-index: 1;
}

.cherries {
  background-color: white;
  max-width: 400px;
  grid-column: 1/2;
  grid-row: 1/4;
}

.grey {
  color: rgb(0, 0, 0, 0);
  background-color: grey;
  grid-column: 2/3;
  grid-row: 1/4;
}
